textarea {
  width: 100%;
  min-height: 100px;
}

#textarea-container {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 80%;
}

form {
  display: block;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: var(--grist-theme-page-panels-main-panel-bg,#fff);
  border: 1px solid var(--grist-theme-top-bar-button-primary-fg,#ddd);
}

th, td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 2px;
  text-align: left;
}

thead {
  background-color: var(--grist-theme-page-panels-main-panel-bg,#f2f2f2);
}

th {
  background-color: var(--grist-theme-top-bar-button-primary-fg,#ddd);
  border-bottom: 2px solid var(--grist-theme-top-bar-button-primary-fg,#ccc);
  color: var(--grist-theme-text,#333);
}

tr:nth-child(even) {
  background-color: var(--grist-theme-page-panels-main-panel-bg,#f2f2f2);
}

tr:nth-child(odd) {
  background-color: var(--grist-theme-page-panels-main-panel-bg,#fff);
}

tr:hover {
  background-color: var(--grist-theme-page-panels-main-panel-bg,#e0e0e0);
}
